:root {
  --backgound-color: #ffe4c4;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  @media (max-width: 410px) {
    font-size: 50%;
  }
}

#App {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgound-color);
  transition: background-color 0.3s;
}

#quote-box {
  display: flex;
  flex-direction: column;
  background-color: #ffffffaa;
  border-radius: 5px;
  border: 0;
  max-width: 550px;
  height: 100%;
  padding: 30px;
  box-shadow: 0 5rem 5rem rgba(0, 0, 0, .5);
}

#text {
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
}

#author {
  text-align: end;
  font-size: 1.2em;
  font-weight: bold;
}

.new-quote {
  float: right;
}

.button {
  margin: 50px 2px 0px 2px;
  padding: 20px;
  border: 0;
  border-radius: 35px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--backgound-color);
  color: #ffffffaa;
}

.icon {
  padding: 10px;
  font-size: 2.3em;
  width: 65px;
}

button>svg {
  margin-bottom: -7px; // for some reason svg getting
  margin-right: 1px;
}

@media (max-width: 410px) {
  .button{
    padding: 0px;
    width: 35px;
    margin: 20px 4px -10px 4px;
  }
 
  button>svg {
    margin-bottom: -3px; // for some reason svg getting
    margin-left: 1px; // for some reason svg getting
  }

  .new-quote {
    width: 65px;
    padding: 6px
  }
}